events {
    worker_connections 1024;
}

http {
    include /etc/nginx/mime.types;

    server {
        listen ${NGINX_PORT};
        root /www/data/;

        location / {
            index static/html/index.html;
        }

        location /static/ {
            autoindex on;
        }

        location /api/ {
            proxy_pass http://${APP_ADDR}:${APP_PORT};
        }
    }
}
